# Python Grundlagen
- Dynamisch typisierte Sprache
- Statt geschweifter Klammern für Codeblöcke (Funktionen, Schleifen) wird Code mit vier Leerzeichen (pro Hierarchieebene) eingerückt
- Die meisten Editoren ersetzen Tab automatisch durch vier Leerzeichen
- Kommentare beginnen mit Raute #

## Grundlegende Datentypen
Zahlentypen (int/float) sind größtenteils äquivalent zu Java. Strings können mit doppelten oder einfachen Anführungszeichen deklariert werden.

In [1]:
a = 2*2.0
b = 5

print(a + b)

9.0

In [2]:
a += 1
# a++ existiert nicht

print(a)

5.0

In [3]:
2**4

16

In [4]:
2/4

0.5

In [5]:
text1 = 'Hallo '
text2 = "Welt"

print (text1 + text2)

# Andere Datentypen müssen explizit in Strings konvertiert werden,
# wenn sie an einen String angehängt werden sollen.
print(text1 + str(1))

Hallo Welt
Hallo 1

In [6]:
float('1')

1.0

In [7]:
float(1)

1.0

*None* entspricht *null* in Java.

In [8]:
myvar = None

In [9]:
print(myvar)

None

In [10]:
if myvar is None:
    print('x ist nicht definiert')

x ist nicht definiert

## Listen
Listen werden mit eckigen Klammern oder list() initialisiert.

In [11]:
l = [1,2,3,3]
l.append(4)

print(l)

[1, 2, 3, 3, 4]

Vorsicht bei der Kombination von Listen. append hängt die übergebene Variable als einzelnen Listeneintrag an die Liste an.

In [12]:
l.append([5, 6])

print(l)

[1, 2, 3, 3, 4, [5, 6]]

Zur Kombination von zwei Listen wird der +-Operator verwendet.

In [13]:
l2 = l + [5,6]

print(l2)

[1, 2, 3, 3, 4, [5, 6], 5, 6]

## Mengen
Mengen können mit geschweiften Klammern oder set() initialisiert werden.

In [14]:
s = {1,2,3,3}
s2 = set([2,3,4,5])

print(s)
print(s.intersection(s2))

{1, 2, 3}
{2, 3}

In [15]:
s.add(9)
s.remove(2)
s

{1, 3, 9}

Mit list() und set() können die Typen auch ineinander konvertiert werden.

In [16]:
list(s)

[1, 3, 9]

In [17]:
set([1,2,3])

{1, 2, 3}

## Ranges
Auflistung von Zahlen, werden z.Bsp. für for-Schleifen mit Index verwendet.

In [18]:
for i in range(5):
    print(i)

0
1
2
3
4

## Tupel
Für sortierete Werte mit fester Komponentenanzahl und fester Bedeutung für jeden Eintrag.

In [19]:
essen = 'Chili'
preis = 2.51
boneintrag = (essen, preis)

print(boneintrag)
print(boneintrag[0])
print(boneintrag[1])

('Chili', 2.51)
Chili
2.51

In [20]:
(essen2, preis2) = boneintrag

print(essen2)
print(preis2)

Chili
2.51

Klammern können oft weggelassen werden

In [21]:
boneintrag = essen, preis
essen2, preis2 = boneintrag

print(boneintrag)
print(essen2)
print(preis2)

('Chili', 2.51)
Chili
2.51

## Dictionaries
Äquivalent zu Maps.

In [22]:
d = {'Chili': 1.90, 'Penne': 2.50}

In [23]:
d.keys()

dict_keys(['Chili', 'Penne'])

In [24]:
d.values()

dict_values([1.9, 2.5])

In [25]:
for key, val in d.items():
    print('{}: {}'.format(key, val))

Chili: 1.9
Penne: 2.5

In [26]:
d['Chili']

1.9

In [27]:
d['Burger'] = 4.90
d

{'Chili': 1.9, 'Penne': 2.5, 'Burger': 4.9}

In [28]:
del d['Burger']
d

{'Chili': 1.9, 'Penne': 2.5}

## If-Anweisungen

In [29]:
if 2>1 or 1>2:
    print ('Bedingung erfüllt.')

Bedingung erfüllt.

In [30]:
y = 10
x = 5 if y > 10 else 4

print(x)

4

## Schleifen

In [31]:
x = 5
while x > 0:
    x -= 1
x

0

In [32]:
for x in ['a', 'b', 'c']:
    print(x)

a
b
c

## Funktionen

In [33]:
def sum_upto(n):
    return n*(n+1)/2

sum_upto(4)

10.0

Zur besseren Übersicht (insbesondere bei vielen Parametern) können diese auch namentlich zugewiesen werden.

In [34]:
sum_upto(n=4)

10.0

Funktionen können *Default-Parameter* haben, d.h. Werte, die von der Funktion als Standardwert verwendet werden (wenn kein anderer Wert übergeben wird). Default-Parameter müssen am Ende der Funktion stehen und übergeben werden.

In [35]:
def fun_with_default(x=3):
    print('Parameter is {}'.format(x))

In [36]:
fun_with_default()

Parameter is 3

In [37]:
fun_with_default(x=4)

Parameter is 4

Funktionen können wie Variablen referenziert werden (Pointer auf die Funktion) und zum Beispiel als Parameter übergeben werden.

In [38]:
def calc_and_print(calc_function, n):
    calc_result = calc_function(n)
    print(calc_result)

In [39]:
calc_and_print(sum_upto, 4)

10.0

## Lambda-Funktionen
I.d.R. für Inline-Funktionen. Können zum Beispiel an Funktionen als Parameter übergeben oder als Variable deklariert werden. Lambdas enthalten ein einzelnes Statement, dessen Wert automatisch der Rückgabewert ist.

In [40]:
calc_square = lambda x: x**2
calc_square(3)

9

In [41]:
calc_and_print(calc_square, 4)

16

In [42]:
calc_and_print(lambda x: x**3, 4)

64

## List Comprehensions

In [43]:
y = [x**2 for x in range(10)]
y

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
xy = [(x, x**2) for x in range(10) if x%2 == 0]
xy

[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64)]

## Klassen
Objekte einer Klasse bekommen bei Methodenaufrufen als ersten Parameter automatisch das *"self"*-Objekt übergeben (vgl. *this* in Java). Dieser Parameter muss also immer auch als erster Parameter einer Klassenmethode enthalten sein.

In [45]:
class Vehicle():
    # Constructor
    def __init__(self, n_wheels=4, noise='beep'):
        self.n_wheels = n_wheels
        self.noise = noise
    
    def make_noise(self):
        print(self.noise)

In [46]:
basicVehicle = Vehicle()
basicVehicle.make_noise()

beep

Properties sind immer von außen sichtbar und lassen sich verändern. Properties, die nicht zur Veränderung gedacht sind, werden nach Konvention durch zwei Unterstriche im Namen gekennzeichnet.

In [47]:
basicVehicle.n_wheels

4

# Vererbung

In [48]:
bike = Vehicle(n_wheels=2, noise='ring')
bike.make_noise()

ring

In [49]:
class Bike(Vehicle):
    def __init__(self):
        self.n_wheels = 2
        self.noise = 'ring'

In [50]:
Bike().make_noise()

ring

In der Praxis wird in Python statt Vererbung oft [Duck-Typing](https://de.wikipedia.org/wiki/Duck-Typing) verwendet.

“When I see a bird that walks like a duck and swims like a duck and quacks like a duck, I call that bird a duck.”

# Jupyter Notebook Grundlagen
- Notebook besteht aus Zellen
- Unter der Zelle wird der Rückgabewert des letzten Statements ausgegeben
- Quellcode kann auf mehrere Zellen aufgeteilt werden (Variablen behalten ihre Gültigkeit/Sichtbarkeit)
- Variablen sind auch nach dem Löschen von Zellen weiter sichtbar. Um den Speicher zu bereinigen *Kernel -> Restart*

# Shortcuts
Übersicht: *Help -> Keyboard Shortcuts*
- *Enter*: Editiermodus für selektierte Zelle (grün)
- *Esc*: Editiermodus verlassen/Kommandomodus (blau)
- *Shift+Strg*: Selektierte Zelle ausführen
- *Shift+Enter*: Selektierte Zelle ausführen und in nächste Zelle springen

Im Editiermodus:
- Tab: Autocomplete oder Einrücken

Im Kommandomodus:
- *B*: Zelle darunter einfügen
- *A*: Zelle darüber einfügen
- *DD*: Zelle löschen
- *M*: Zelltyp Markdown (für formatierte beschreibende Texte)
- *Y*: Zelltyp Code (Default)